<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>    
    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  <!-- nodeProcessCommandLine 要指向伺服器中的 node.exe 檔案位置 -->
    <iisnode node_env="production" nodeProcessCommandLine="&quot;D:\Tools\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
    <handlers>
 <remove name="Module1" /> 
      <add name="Module1" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
</configuration>
